body {
    font-family: 'Times New Roman', Times, serif;
}

/*  шапка */
.header {
    background-color: #222222;
    color: #ffffff;
}

.head {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header-content {
    max-width: 960px;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column-reverse;
}

.main-menu ul {
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    display: flex;
}

.main-menu a {
    font-size: 30px;
    color: whitesmoke;
    text-decoration: none;
}

.main-menu a:hover {
    color: darkgrey;
}

.site-link a {
    font-size: 30px;
    color: whitesmoke;
    text-decoration: none;
}

.site-link:hover {
    color: darkgrey;
}

/* лого */
.logo {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 45%;
    background: url(logo.jpg);
    background-size: auto 100px;
}

.logo img {
    height: 40px;
    float: left;
    position: absolute;
}

.footer {
    background-color: #222222;
    color: #fff;
    text-align: center;
}

.footer-content {
    max-width: 960px;
}

.slide {
    border-right: none;
    /* Убираем границу для мобильных устройств */
    min-width: 100%;
    /* На мобильных устройствах показываем 1 изображение */
}

/* ПК */
@media (min-width: 768px) {
    body {
        width: 100%;
        background-color: #DAD7D7;
        text-decoration: none;
    }

    /* подвал2 */
    .footer {
        width: 100%;
        background-color: #333;
        color: #fff;
        text-align: center;
    }

    a {
        color: #333;
    }

    main {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    button.btn.btn-primary,
    button.btn.btn-primary:focus {
        background-color: #333;
        border: 0;
        width: 200px;
    }

    .content {
        max-width: 960px;
    }

    /*  шапка2 */
    .header {
        background-color: #333;
        color: #fff;
    }

    .header-content {
        max-width: 960px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    /* git2 */
    .site-link {
        width: 20%;
    }

    .site-link a {
        font-size: 20px;
        color: #FFFFFF;
        text-decoration: none;
        align-items: center;
        width: 25%;
    }

    .site-link a:hover {
        color: darkgrey;
    }

    /* ссылки2 */
    .main-menu ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }

    .main-menu a {
        font-size: 20px;
        color: whitesmoke;
        text-decoration: none;
    }

    .main-menu a:hover {
        color: darkgrey;
    }

    .footer-content {
        max-width: 960px;
    }


    .gallery-container {
        display: flex;
        align-items: center;
        position: relative;
        max-width: 800px;
        /* Максимальная ширина контейнера */
        margin: auto;
        /* Центрирование контейнера */
    }

    .gallery {
        display: flex;
        overflow: hidden;
        width: 100%;
    }

    .slides {
        display: flex;
        transition: transform 0.5s ease;
    }

    .slide {
        min-width: 33.33%;
        /* Показать 3 изображения одновременно */
        box-sizing: border-box;
        /* Чтобы не было лишних отступов */
        border-right: 10px solid #ccc;
        /* Граница справа от каждого слайда */
    }

    .slide:last-child {
        border-right: none;
    }

    .slide img {
        width: 100%;
        /* Изображение занимает 100% от контейнера */
        height: 300px;
        /* Фиксированная высота для всех изображений */
        object-fit: cover;
        /* Обеспечивает обрезку изображения при изменении размеров */
    }

    .arrow {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 2em;
        z-index: 1;
    }

    .pager {
        text-align: center;
        margin-top: 10px;
    }
}